DEBUG=True
SECRET_KEY=ваш_секретный_ключ

EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_app_password

ADMIN_EMAIL=admin_email@example.com

POSTGRES_DB=document_service
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

ALLOWED_HOSTS=localhost,127.0.0.1
