# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Django
*.log
*.pot
*.mo
db.sqlite3
media/
staticfiles/
*.sqlite3

# Migrations — храним в git, кроме __pycache__
*/migrations/__pycache__/

# Celery
celerybeat-schedule
celerybeat-schedule-*

# IDE
# PyCharm
.idea/
*.iml
*.ipr
*.iws

# VSCode
.vscode/

# Environment files
.env
# .env.example оставляем в репо, чтобы показать пример

# OS
.DS_Store
Thumbs.db